cerebras_cloud_sdk
exa-py
python-dotenv
embedchain
streamlit
requests
pydantic
httpx
uvicorn
crewai
crewai_tools
pymongo
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
elevenlabs
fastapi
python-multipart

